{% extends 'users/base.html' %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Войдите</h1>
    <label for="inputUsername" class="sr-only">Имя пользователя</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Имя пользователя" required autofocus>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Пароль" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    <a class="btn btn-link mt-3" href="{% url 'users:register' %}">Зарегистрироваться</a>
{% endblock %}